<div class="left-Info">
    <h1> Bienvenido A Space Shared</h1>
    <h4>Divierte Te Compartiendo Con Tus Amigos</h4>
    <section class="Section-Acounts">

    </section>
    <div class="">
      <h5>¿Aun No Tienes Una Cuenta?</h5>
      <h5>Registrate y Empieza A Compartir</h5>
      <div class="div-btn-signup" routerLinkActive="active">
        <button type="button" name="button" routerLink='/SignUp' class="btn-signup">Resitrate</button>
      </div>
    </div>

</div>

<app-log-in></app-log-in>
