<nav class="nav-up-bar d-flex">
  <div class="d-flex Input-Search ">
    <input type="text" name="" value="" class="Search">
    <button type="button" name="button" class="btn-search"><img src="assets/search.svg" alt="" class="img-search"></button>
  </div>
  <div class="Div-Btn-Group">
    <button type="button" name="button" class="btn-Group"><img src="assets/group-profile.svg" alt="" class="img-Group">Grupos</button>
  </div>
  <img src="assets/Logo-beta.png" alt="" class="Logo-img">
  <div class="Div-Btn-My-Profile" routerLinkActive="active">
    <button type="button" name="button" class="Btn-My-Home" routerLink='/Home'><img src="assets/home.svg" alt="" class="img-Home">Inicio</button>
  </div>
  <div class="Div-Btn-Config">
    <button type="button" name="button" class="Btn-Config"><img src="assets/settings.svg" alt="" class="img-Config">Configuracion</button>
  </div>
  <div class="Div-Btn-Exit">
    <button type="button" name="button" class="Btn-Exit"> <img src="assets/sign-out-option.svg" alt="" class="img-Exit">Salir</button>
  </div>
</nav>
