<nav>
  <div class="Logo">
      <h1>SpacaShared</h1>
  </div>

</nav>


<div class="Sign-Up-Container" >
  <div class="Title">
    <h3>¡¡Registrate!!</h3>
  </div>

  <div class="Name-LastName d-flex">
    <div class="Name">
      <h6>Nombre</h6>
      <div class="div-Name">
        <input type="text" name="" value="">
      </div>
    </div>
    <div class="Lastname">
      <h6>Apellido</h6>
    <div class="div-LastName">
        <input type="text" name="" value="">
    </div>
    </div>
  </div>
  <div class="Email d-flex">
    <div class="Email">
      <h6>Email</h6>
      <div class="div-Email">
        <input type="email" name="" value="">
      </div>
    </div>
    <div class="Email-Confirmacion">
      <h6>Confirmar El Email</h6>
      <div class="div-Email-Confirmacion">
        <input type="email" name="" value="">
      </div>
    </div>
  </div>
  <div class="Password d-flex">
    <div class="Password">
      <h6>Contraseña</h6>
      <div class="div-Password">
        <input type="password" name="" value="">
      </div>
    </div>
    <div class="Password-Confirmacion">
      <h6>Confirmar Contraseña</h6>
      <div class="div-Password-Confirmacion">
        <input type="password" name="" value="">
      </div>
    </div>
  </div>
  <div class="More d-flex">
    <div class="Date">
      <h6>Fecha de Nacimiento</h6>
      <div class="div-Date">
        <input type="date" name="" value="">
      </div>
    </div>
  </div>

  <div class="div-btn-SignUp">
    <button type="submit" name="button" class="btn-SignUp">Registrarse</button>
  </div>
</div>
