<nav class="nav-up-bar d-flex">
  <div class="d-flex Input-Search ">
    <input type="text" name="" value="" class="Search">
    <button type="button" name="button" class="btn-search"><img src="assets/search.svg" alt="" class="img-search"></button>
  </div>
  <div class="Div-Btn-Group"  routerLinkActive="active">
    <button type="button" name="button" class="btn-Group" routerLink='/Group'><img src="assets/group-profile.svg" alt="" class="img-Group">Grupos</button>
  </div>
  <div class="Div-Btn-Chat"  routerLinkActive="active">
    <button type="button" name="button" class="btn-Chat" routerLink='/Chat'><img src="assets/Chat.svg" alt="" class="img-Chat">Chat</button>
  </div>
  <img src="assets/Logo-beta.png" alt="" class="Logo-img">
  <div class="Div-Btn-My-Profile" routerLinkActive="active">
    <button type="button" name="button" class="Btn-My-Profile" routerLink='/Profile'><img src="assets/user-shape.svg" alt="" class="img-Profile">Mi Perfil</button>
  </div>
  <div class="Div-Btn-Config"  routerLinkActive="active">
    <button type="button" name="button" class="Btn-Config" routerLink='/Config'><img src="assets/settings.svg" alt="" class="img-Config">Configuracion</button>
  </div>
  <div class="Div-Btn-Exit">
    <button type="button" name="button" class="Btn-Exit"><img src="assets/sign-out-option.svg" alt="" class="img-Exit">Salir</button>
  </div>
</nav>
