<div class="Section-Chat-Div">

  <div class="Div-Info-Friend d-flex">
    <div class="Photo">

    </div>
    <div class="Name-Lastname">
      <h5>FreddyAngel Leal</h5>
    </div>
    <div class="Info-Friend">
      <button type="button" name="button" class="btn-Info-Friend"><img src="assets/information-button.svg" class="img-Info-Friend" alt=""></button>
    </div>
  </div>

  <section class="Section-Chat">

  </section>

  <div class="Div-Input-Chat d-flex">
    <button type="button" name="button"></button>
    <button type="button" name="button"></button>
    <div>
      <input type="text">
      <button type="button" name="button"></button>
    </div>
  </div>
</div>
