.section-feed{
  border: #000 solid 1px;
  width: 600px;
  height: 500px;
  position: absolute;
  margin: 94px 0px 0px 385px;
}

/*
margin: 119px 0px 0px 434px;
    height: 500px;
    width: 501px;

    */
